langchain
langchain-community
langchain-text-splitters
langchain-chroma
langchain-ollama
langgraph
langgraph-checkpoint-sqlite
langchain_mcp_adapters
langchain_nvidia_ai_endpoints
mtg-mcp
aiosqlite

# Backend (fastapi) dependencies
fastapi
uvicorn
pydantic-settings
python-jose[cryptography]
bcrypt==4.0.1
passlib[bcrypt]
python-multipart
aiosqlite
langchain-text-splitters
pyedhrec
email-validator